---
layout: default
---

<div class="home">

<center>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="1000" height="200" src="scratch/webgl_shaders.html"></iframe>
</center>

<a href="versor/devel/html/index.html">Versor Documentation (devel branch)</a></p>

  <ul class="post-list">
    {% for category in site.categories %}
      <h1>{{ category[0] | capitalize }}</h1>
      {% assign sorted = category[1] | sort %}
      {% for post in sorted %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {{ post.excerpt }}
        </h2>
      </li>
      {% endfor %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
